## You CAN edit the following:
{{serverEndpoints}}
sv_maxclients {{maxClients}}
set steam_webApiKey "none"
sets tags "default, deployer, qbox"

## You MAY edit the following:
sv_licenseKey "{{svLicense}}"
sv_hostname "{{serverName}} built with {{recipeName}} by {{recipeAuthor}}!"
sets sv_projectName "[{{recipeName}}] {{serverName}}"
sets sv_projectDesc "{{recipeDescription}}"
sets locale "root-AQ" # replace with your language and location code, like en-US, pt-BR, etc
load_server_icon myLogo.png
set sv_enforceGameBuild 3258
set resources_useSystemChat true
set mysql_connection_string "{{dbConnectionString}}"
set qbx:acknowledge true

# illenium-appearance locale config
setr illenium-appearance:locale "en"

# Renewed-Weathersync config
setr weather_disablecd true

# Ox resources config
exec ox.cfg

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
stop basic-gamemode
ensure hardcap
ensure baseevents

# Qbox & Extra stuff
ensure ox_lib
ensure qbx_core
ensure ox_target
ensure [ox]
ensure [qbx]
ensure [standalone]
ensure [voice]
ensure [assets]


## Permissions ##
{{addPrincipalsMaster}}
exec permissions.cfg